@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
    /* MAİN COLOR */
    --primary: #006895;
    --secondary: #16394d;
    --primaryLight: #21cfef;

    /* THEME COLOR */
    --darkThemePrimary: #0e202e;
    --darkThemeSecondary: #1a3f59;
    --darkThemeColor: #fff;

    /* FONT */
    --fontPrimary: 'Rubik', sans-serif;
    --fontSecondary: 'Poppins', sans-serif;
    --font3: 'Open Sans', sans-serif;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--darkThemeColor);
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: var(--darkThemeColor);
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: var(--darkThemeColor);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

a {
    color: var(--darkThemeColor);
    text-decoration: none;
}

section .title h3 {
    font-size: 2rem;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 1rem;
}

body {
    font-family: var(--fontPrimary);
    background-color: var(--darkThemePrimary);
    color: var(--darkThemeColor);
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    border-bottom: 1px solid var(--darkThemeSecondary);
    background-color: var(--darkThemePrimary);
}

header .container {
    display: flex;
    align-items: center;
    width: 85%;
    margin: 0 auto;
}

header .container .logo {
    font-size: .8rem;
    margin-right: 1rem;
    padding: 0;
}

header .container .search input {
    background-color: var(--darkThemeSecondary);
    border: 1px solid var(--darkThemeSecondary);
    padding: .5rem;
    font-size: 1rem;
    font-family: var(--fontPrimary);
    border-radius: .5rem;
    margin: 0rem 1rem;
    transition: border-color .5s;
    color: var(--darkThemeColor);
}

header .container .search input:focus {
    border-color: var(--primaryLight);
}

header .container .menu {
    margin-right: auto;
}

header .container .menu ul {
    display: flex;
    list-style: none;
    margin: 0rem 1rem;
}

header .container .menu ul li a {
    display: flex;
    color: var(--darkThemeColor);
    text-decoration: none;
    padding: 2rem 1.5rem;
    font-weight: bold;
    transition: background-color .3s;
}

header .container .menu ul li a:hover {
    background-color: var(--darkThemeSecondary);
}

header .container .buttons {
    display: flex;
    margin: 0rem 1rem;
}

.container .buttons a {
    margin: 0rem 1rem;
    border: 1px solid var(--primaryLight);
    color: var(--primaryLight);
    padding: .7rem 1.5rem;
    border-radius: .5rem;
}

.container .buttons .active {
    background-color: var(--primary);
    color: var(--darkThemeColor);
}

/* HOMEBANNER BEGİN */
#hero {
    margin-top: 7rem;
}

#hero .container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85%;
    margin: 0 auto;
}

#hero .container .heroTitle {
    flex: 1;
    text-align: left;
    font-size: 2rem;
}

#hero .container .heroTitle h6 {
    font-weight: normal;
}

#hero .container .banner {
    flex: .5;
}

#hero .container .banner img {
    width: 100%;
}

#hero .container .heroTitle strong {
    color: var(--primaryLight);
}

#hero .container .buttons {
    font-size: 1rem;
    margin-top: 2rem;
}

#hero .container .buttons a {
    margin: 0;
    margin-right: 1rem;
}

/* TOP SELLERS */
#topSellers .users {
    display: flex;
    justify-content: center;

    margin: 0 auto;
    width: 85%;
    overflow-x: auto;
    flex-wrap: wrap;
}

#topSellers .users .user {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 20%;
    padding: 2rem 1rem;
    margin: 0rem 1rem 1rem 1rem;
    background-color: var(--darkThemeSecondary);
    border-radius: 1rem;
}

#topSellers .users .user .userImg {
    width: 80px;
    height: 80px;
}

#topSellers .users .user .userImg img {
    width: 100%;
    border-radius: 100%;
}

#topSellers .users .userName {
    font-size: 1rem;
    padding: .5rem 0;
}

/* HOTBİDS */
#hotBids .bids {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 95%;
    justify-content: center;
}

#hotBids .bids .bid {
    width: 20%;
    background-color: var(--darkThemeSecondary);
    margin: 0rem 1rem 1rem 1rem;
    padding: .5rem .5rem 1rem .5rem;
    border-radius: 1rem;
}

#hotBids .bids .bid .bidImg {
    flex: 1;
    margin-bottom: .5rem;
}

#hotBids .bids .bid .bidImg img {
    width: 100%;
    border-radius: 1rem;
}

#hotBids .bids .bid .bidPrice {
    display: flex;
}

#hotBids .bids .bid .bidPrice p {
    margin-right: auto;
    font-size: small;
}

#hotBids .bids .bid.like {
    display: flex;
    align-items: center;
    font-size: small;
}

#hotBids .bids .bid.like svg {
    margin-right: .3rem;
}

#hotBids .loadMore {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

#hotBids .loadMore a {
    text-align: center;
    border: 1px solid var(--primaryLight);
    color: var(--primaryLight);
    padding: .7rem 1.5rem;
    border-radius: .5rem;
    transition: background-color .5s;
    transition: color .5s;
}

#hotBids .loadMore a:hover {
    background-color: var(--primary);
    color: var(--darkThemeColor);
}

/* FOOTER */
footer {
    text-align: center;
    padding: 1rem;
}

/* MEDİA QUERY */

@media (max-width: 768px) {

    /* HERO MEDİA */
    #hero .container {
        flex-direction: column;
        width: 100%;
    }

    #hero .container .heroTitle {
        text-align: center;
        margin: 1rem 0rem;
    }

    #hero .container .banner {
        flex: 1;
    }
    #topSellers .users .user {
        width: 25%;
    }
    /* HOTBİDS MEDİA */
    #hotBids .bids .bid {
        width: 25%;
    }

}
@media (max-width: 425px) {
    /* HOTBİDS MEDİA */
    #hotBids .bids .bid {
        width: 40%;
    }
    #topSellers .users .user {
        width: 40%;
    }
}

@media (max-width: 375px) {
    #hero .container .heroTitle {
        font-size: 1.8rem;
    }
    #topSellers .users .user {
        width: 100%;
    }
    /* HOTBİDS MEDİA */
    #hotBids .bids .bid {
        width: 100%;
    }
    
}